<img src="assets/logo2.png" class="img-responsive">
<p align="center">そこの倉庫空いてる？？</p>

<br>
<div class="center">
   <button type="button" class="btn btn-warning">
      <%= link_to 'モノを預ける', '/users/sign_up' %>
   </button>
</div>

<div class="btn btn-warning">
<%= link_to 'ログアウト', '/users/sign_out', method: :delete %>
</div>

<br>
<br>
<div class="center">
   <button class="btn btn-warning">
      <%= link_to '倉庫を提供する', '/warehouses/new'%>
   </button>
</div>
