<h1 align="center">アイテル</h1>
<p align="center">そこの倉庫空いてる？？</p>

<p align="center">物を預ける</p>
<div class="button_wrapper">
<%= link_to 'ユーザー登録', '/users/sign_up', class: 'square_btn' %>
</div>

<p align="center">倉庫を提供する</p>
<div class="button_wrapper">
<%= link_to 'クライアント登録', '/items/new', class: 'square_btn' %>
</div>
