
<img src="assets/logo.png" class="img-responsive">

<!-- <p align="center">” そこの倉庫空いてる？？ ”</p> -->

<br>
<div class="center wrapper-field">
   <button type="button" class="form-control btn btn-warning">
      <%= link_to 'モノを預ける', '/users/sign_up' %>
   </button>
</div>

<div class="center wrapper-field">
   <button class="form-control btn btn-warning">
      <%= link_to '倉庫を提供する', '/warehouses/new'%>
   </button>
</div>
